* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* header */
.header {
    padding: 0px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

.header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 48px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}



.header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header  ul {
    list-style-type: none;
}

.header nav ul li {
    font-size: 20px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/HeroOceanImage.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.flex-row {
    display: flex;
  }

  /* about me section */
  .flex-container-about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 14px;
    border: 4px solid #bd1321;
  }

  .flex-container-about-me-h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 14px;
    border: 4px solid #bd1321;
   }

   .flex-container-about-me-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 14px;
    border: 4px solid #bd1321;
   }


.flex-container-my-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 14px;
  border: 4px solid #bd1321;
}

.flex-container-my-work-h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15%;

  margin-bottom: 20px;
  border-radius: 14px;
  border: 4px solid #bd1321;
 }

.flex-container-main-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin-bottom: 20px;
}

.flex-item-main-app {
  width: 50%;
  border-radius: 14px;
  border: 4px solid #bd1321;
  background-color: #e2e3eb;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  alignment: center;
  background-size: cover;
  background-position: center;
  padding: 10px 10px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

 .flex-container-applications {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 14px;
    border: 4px solid #bd1321;
}
/* for text area inside of flex item */
.flex-item span {
  /* pushes element to bottom of flex item */
  margin-top: auto;
  width: 100%;
  background-color: #a8adba;
  color: #393b4f;
  padding: 10px 5px;
  text-align: center;
}

.flex-item-applications {
  width: 15%;
  border-radius: 14px;
  border: 4px solid #dacecf;
  background-color: #e2e3eb;
  font-size: 15px;
  font-weight: bold;
  text-align: center;

  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  background-size: cover;
  background-position: right;
  padding: 10px 10px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
}

.flex-item span {
  /* pushes element to bottom of flex item */
  margin-top: auto;
  width: 100%;
  background-color: #a8adba;
  color: #393b4f;
  padding: 10px 5px;
  text-align: center;
}

/* MY WORK END */

/* contact me section */
.flex-container-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 14px;
  border: 4px solid #bd1321;
}

.flex-container-contact-h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15%;

  margin-bottom: 20px;
  border-radius: 14px;
  border: 4px solid #bd1321;
 }

 .flex-container-contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 14px;
  border: 4px solid #bd1321;
}



.contact-me img {
    max-height: 200px;
}

.contact-me h2 {
    display: inline-block;
    font-size: 36px;
    float: left;
}

.contact-me ul {
    list-style-type: none;
    display: inline-block;
}

.contact-me nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}


/* UTILITIES */
.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }
  
  /* media query for smaller desktop */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* media query for tablets */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
    .trainer-bio h3, .trainer-bio h4 {
      display: block;
    }
  }

  #images{
    text-align:center;
    margin:50px auto; 
}
  #images a{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
 }
  
  /* media query for mobile */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }
  